* {
    font-family: 'Montserrat', sans-serif;
}

.bg-primary {
    background-color: #68376d !important;
}

.progress {
    background-color: rgba(219, 179, 215, 0.2);
}

.progress-bar {
    background-color: aliceblue;
}